{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>visitor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <link rel="stylesheet" href="{% static 'css/visitor.css' %}" />
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/visitor.js"></script>
</head>
<body>
    <!-- 헤더는 나중에 js로 연결하기 -->
    <header class="header">
        <a><img class="backicon" src="{% static 'img/backicon.svg' %}" alt="뒤로가기" class="list_icon" onclick="goBack()"></a>
        <img class="prism" src="{% static 'img/prismPink.svg' %}" alt="로고" class="list_icon2" id="logo" onclick="Home()">
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class='menu-icon' for="menu-btn">
      <div class='menu-button' onclick="toggle()">
        <img src="{% static 'img/hamburger.svg' %}" alt="로고" class="Group 1_pink">
      </div>
    </label>
      <ul class="menu">
        <li><a href="http://sswu-prism.com/main/timetable/">타임테이블</a></li>
        <li><a href="http://sswu-prism.com/main/map/">축제 지도 확인하기</a></li>
        <li><a href="http://sswu-prism.com/booth/">플리마켓 / 제휴부스 / 총학부스</a></li>
        <li><a href="http://sswu-prism.com/order/goods_list/">굿즈 구매 예약</a></li>
        <li><a href="{% url 'mainpage:info' %}">공지사항</a></li>
        <li><a href="http://sswu-prism.com/visitor/">방명록</a></li>
        <li><a href="{% url 'mainpage:makers' %}">만든이들</a></li>
        <a href="{% url 'mainpage:administrator' %}">
            <div class="box">관리자 모드</div></a>
      </ul>
    </header>
    <div class="container_main" id="blur">
    <main>
    <div id="wrap">
        <div id="title">
            <div class="title_photo">
                <img src="{% static 'img/staricon.svg' %}"></img>
            </div>
            <div class="title_tx">방명록</div>
        </div>
        <div class="container">
            <div class="title_ex">수정이들의 소중한 방명록!</div>
            <!-- 글쓰기 화면과 연결하기 -->
            <a href="http://sswu-prism.com/visitor/write/" class="write_btn">
                <div class="write_btn_tx">방명록 작성하기</div>
            </a>

            <!-- 백엔드랑 연결할 부분 -->
            <div id="content">
                
            </div>
            <!-- <div class="writing">
                <div class="writing_tx">방명록에 작성된 글</div>
                <div class="writing_info">
                    <span class="nickname">성신멋사 11기</span>
                    <span class="date">2023.08.30</span>
                </div>
            </div>
            <div class="writing">
                <div class="writing_tx">방명록에 작성된 글</div>
                <div class="writing_info">
                    <span class="nickname">성신멋사 11기</span>
                    <span class="date">2023.08.30</span>
                </div>
            </div>
            <div class="writing">
                <div class="writing_tx">방명록에 작성된 글</div>
                <div class="writing_info">
                    <span class="nickname">성신멋사 11기</span>
                    <span class="date">2023.08.30</span>
                </div>
            </div>
            <div class="writing">
                <div class="writing_tx">방명록에 작성된 글</div>
                <div class="writing_info">
                    <span class="nickname">성신멋사 11기</span>
                    <span class="date">2023.08.30</span>
                </div>
            </div>
            <div class="writing">
                <div class="writing_tx">방명록에 작성된 글</div>
                <div class="writing_info">
                    <span class="nickname">성신멋사 11기</span>
                    <span class="date">2023.08.30</span>
                </div>
            </div> -->

            <!-- 더보기 버튼 -->
            <div id="more">
                <!-- <span>+ 더보기</span> -->
                <!-- <button onclick="loadItems()">+ 더보기</button> -->
                <!-- 해당 버튼도 loadItems()가 맞으나, 통신을 할곳이 없어, drawHtml로 대체 -->
                <a onclick="loadItems()">+ 더보기</a>
            </div>
        </div>
    </div>
</main>
</div>
<script type="text/javascript">

    function toggle(){
        var blur=document.getElementById('blur');
        blur.classList.toggle('active')
    }
    function Home() {
        window.location.href = "{% url 'mainpage:mainpage' %}";
    }
    function goBack() {
        window.history.back();
    }
    </script>
</body>
</html>