{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>visitor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <link rel="stylesheet" href="{% static 'css/visitor-write.css' %}" />
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard-dynamic-subset.css" />
</head>
<body>
    <!-- 헤더는 나중에 js로 연결하기 -->
    <header class="header">
        <a><img class="back" src="{% static 'img/backicon.svg' %}" alt="뒤로가기" class="list_icon" onclick="goBack()"></a>
        <img class="prism" src="{% static 'img/prismPink.svg' %}" alt="로고" class="list_icon2" id="logo" onclick="Home()">
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class='menu-icon' for="menu-btn" onclick="toggle()">
        <div class='menu-button'>
            <img src="{% static 'img/hamburger.svg' %}" alt="로고" class="Group 1_pink">
        </div>
        </label>
        <ul class="menu">
            <li><a href="http://sswu-prism.com/main/timetable/">타임테이블</a></li>
            <li><a href="http://sswu-prism.com/main/map/">축제 지도 확인하기</a></li>
            <li><a href="http://sswu-prism.com/booth/">플리마켓 / 제휴부스 / 총학부스</a></li>
            <li><a href="http://sswu-prism.com/order/goods_list/">굿즈 구매 예약</a></li>
            <li><a href="{% url 'mainpage:info' %}">공지사항</a></li>
            <li><a href="http://sswu-prism.com/visitor/">방명록</a></li>
            <li><a href="{% url 'mainpage:makers' %}">만든이들</a></li>
            <a href="{% url 'mainpage:administrator' %}">
                <div class="box">관리자 모드</div>
            </a>
        </ul>
    </header>
    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container_main" id="blur">
        <main>
        <div id="wrap">
            <div id="title">
                <div class="title_photo">
                    <img src="{% static 'img/staricon.svg' %}"></img>
                </div>
                <div class="title_tx">방명록</div>
            </div>
            <div class="container">
                <div class="title_ex">하고 싶은 말을 작성해 주세요 :)</div>
                <form method="POST" onsubmit="return validateForm()">
                    <textarea class="text" rows="15" name="content" placeholder="텍스트를 입력해주세요"></textarea>
                    <div class="label_wrap">
                        <label for="name">작성자 닉네임</label>
                    </div>
                    <input type="text" id="nickname" name="nickname"
                        maxlength="20" minlength="1" placeholder="닉네임을 입력해주세요"/>
                    <div class="label_wrap">
                        <label for="code">작성자 코드</label>
                    </div>
                    <input type="text" id="code" name="code"
                        maxlength="4" minlength="4" placeholder="숫자 네 자리를 입력해주세요"/>
                    <div class="caution">
                        <div>* 작성자 코드 네 자리는 방명록에는 표시되지 않습니다.</div>
                        <div>* 방명록을 작성하시면 닉네임과 코드를 통해 럭키드로우 이벤트에 자동으로 참여됩니다.</div>
                    </div>
                    <input type='submit' id="submit" value="방명록 업로드">
                </form>
            </div>
        </div>
    </main>
    </div>
        </main>
    </form>
</body>
</html>

<script>
    //블러처리
    function toggle(){
    var blur=document.getElementById('blur');
    blur.classList.toggle('active')
    }
    function Home() {
        window.location.href = "{% url 'mainpage:mainpage' %}";
    }
    function goBack() {
        window.history.back();
    }
    // 글을 작성하지 않으면 제출하지 못함
    function validateForm() {
        var text = document.getElementById("text").value;
        var nickname = document.getElementById("nickname").value;
        
        if (text.trim() === "" || nickname.trim() === "") {
            alert("글과 닉네임을 입력해주세요.");
            return false; // 폼 제출을 막음
        }
        
        return true; // 폼 제출 허용
    }
</script>