body {
  height: 100%;
  font-family: "Pretendard-Regular";
  background-color: #fcf9fb;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.white_box {
  position: absolute;
  width: calc(100% - 15px);
  height: 600px;
  top: 70px;
  background: #ffffff;
  box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  margin-left: 10px;
}
.title {
  display: flex;
}
.title h1 {
  /* 수정대동제 일정 안내 */
  position: absolute;
  width: auto;
  height: 22px;
  left: 17px;
  top: 15px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #313131;
}

.title h2 {
  /* 날짜 */
  position: absolute;
  width: 46px;
  height: 11px;
  left: 250px;
  top: 15px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 9px;
  line-height: 11px;
  text-align: right;
  color: #a0a0a0;
  white-space: nowrap;
}

@media screen and (max-width: 360px) {
  .title h1 {
    width: auto;
  }

  .title h2 {
    left: 150px;
    margin-top: 18px;
  }
}

@media screen and (max-width: 360px) {
  .title {
    overflow: hidden;
    height: 22px;
  }

  .title h2 {
    position: absolute;
    width: auto;
    right: 17px;
    text-align: right;
    overflow: hidden;
  }
}

@media screen and (min-width: 361px) {
  .white_box {
    position: absolute;
    width: calc(100% - 15px);
    height: 600px;
    top: 70px;
    background: #ffffff;
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    margin-left: 10px;
  }

  .title h1 {
    position: absolute;
    width: auto;
    height: 22px;
    left: 17px;
    top: 15px;
    font-family: "Pretendard";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #313131;
  }

  .title h2 {
    top: 26px;
    width: auto;
    right: 17px;
    text-align: right;
  }
}

.line {
  position: absolute;
  justify-items: center;
  width: calc(100% - 20px);
  left: 10px;
  right: 10px;
  height: 0;
  top: 64px;
  border: 0.7px solid #e2e2e2;
}

.content h3 {
  position: absolute;
  justify-items: center;
  width: calc(100% - 40px);
  left: 20px;
  right: 20px;
  top: 70px;
  font-family: "Pretendard";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #313131;
}

.slider {
  position: absolute;
  left: 5%;
  top: 60%;
  /* width: 100%; */
  height: 280px;
  overflow: hidden;

  width: 90%;
  overflow-x: auto;
  white-space: nowrap;
}

.slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  gap: 10px;
  pointer-events: none;

  white-space: nowrap;
}

.slider-item {
  flex: 0 0 calc(100% / 6 - 10px);
  height: 100%;

  display: inline-block;
}

/* 사진이 잘리지 않도록 비율맞춰 줄이기 */
.slider-item img {
  width: 165px;
  height: 220px;
  display: block;
}

/* 헤더 */
* {
  box-sizing: border-box;
  list-style: none;
}

html,
body {
  margin: 0;
  height: 100%;
}

a {
  color: #f06786;
}

#logo {
  height: 21px;
  width: 89px;
}

.header ul {
  margin-top: 74px;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fcf9fb;
}
.menu > li {
  padding: 17px 36px;
}
.header ul a {
  text-decoration: none;
  font-size: 15px;
}
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.header .menu-icon {
  display: flex;
}

.header {
  display: flex;
  width: 100%;
  background-color: #fcf9fb;
  position: fixed;
  top: 0;
  height: 75px;
  padding: 16px;
  z-index: 3;
  align-items: center;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 500px;
}

.box {
  text-align: center;
  font-size: 12px;
  margin: 23px 0px 50px 35px;
  width: 80px;
  height: 24px;
  background-color: #ffffff00;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  border: 1px solid #f06786ed;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container_main#blur.active {
  background-color: rgba(0, 0, 0, 0.25);
  filter: blur(5px) brightness(0.75);
}

.container_main {
  position: relative;
  height: 100vh;
}

.container_box {
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
}
