{% load static %}

<div class="container"></div>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/info_write.css" />
    <link
      rel="stylesheet"
      as="style"
      crossorigin="crossorigin"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css"
    />
    <title>info-write</title>
  </head>

  <body>
    <!-- 상단바 -->
    <header class="header">
      <a
        ><img
          class="back"
          src="{% static 'img/backicon.svg' %}"
          alt="뒤로가기"
          class="list_icon"
          onclick="goBack()"
      /></a>
      <img
        class="prism"
        src="{% static 'img/prismPink.svg' %}"
        alt="로고"
        class="list_icon2"
        id="logo"
        onclick="Home()"
      />
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn">
        <div class="menu-button" onclick="toggle()">
          <img
            src="{% static 'img/hamburger.svg' %}"
            alt="로고"
            class="Group 1_pink"
          />
        </div>
      </label>
      <ul class="menu">
        <li><a href="http://sswu-prism.com/main/timetable/">타임테이블</a></li>
        <li>
          <a href="http://sswu-prism.com/main/map/">축제 지도 확인하기</a>
        </li>
        <li>
          <a href="http://sswu-prism.com/booth/"
            >플리마켓 / 제휴부스 / 총학부스</a
          >
        </li>
        <li>
          <a href="http://sswu-prism.com/order/goods_list/">굿즈 구매 예약</a>
        </li>
        <li><a href="{% url 'mainpage:info' %}">공지사항</a></li>
        <li><a href="http://sswu-prism.com/visitor/">방명록</a></li>
        <li><a href="{% url 'mainpage:makers' %}">만든이들</a></li>
        <a href="{% url 'mainpage:administrator' %}">
          <div class="box">관리자 모드</div>
        </a>
      </ul>
    </header>

    <div class="container_main" id="blur">
      <div class="container">
        <form
          method="POST"
          action="{%url 'mainpage:info_write'%}"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <!-- 제목 -->
          <div class="title">
            <h2>제목</h2>
          </div>
          <div class="title-box">
            <input
              name="title"
              type="text"
              placeholder="제목을 입력해주세요."
            />
          </div>

          <!-- 게시글 작성 -->
          <div class="writing">
            <h2>게시글 작성</h2>
          </div>
          <div class="writing-box">
            <textarea
              name="content"
              placeholder="텍스트를 작성해주세요."
              rows="20"
            ></textarea>
          </div>

          <!-- 첨부 파일 -->
          <div class="plusfile">
            <h2>첨부 파일</h2>
          </div>

          <div class="addimg">
            <input id="files" type="file" name="images" multiple />
            <label for="files">사진 추가</label>
          </div>

          <!-- 게시글 업로드 -->
          <div class="upload">
            <button type="submit">게시글 업로드</button>
          </div>

          <!-- 파일이름.png -->
          <div class="imgfile">
            <a href=""
              ><img src="/static/img/fileimg.svg" alt="파일" class="file" />
              <h2>파일이름.png</h2>
            </a>
          </div>
        </form>
      </div>
    </div>

    <script>
      function toggle() {
        var blur = document.getElementById("blur");
        blur.classList.toggle("active");
      }
      function Home() {
        window.location.href = "{% url 'mainpage:mainpage' %}";
      }
      function goBack() {
        window.history.back();
      }

      var imgFile = document.querySelector(".imgfile");
      var uploadButton = document.querySelector(".upload");
      var addImgButton = document.querySelector(".addimg");
      var imgFileVisible = false;

      function toggleImgFile() {
        imgFileVisible = !imgFileVisible;
        imgFile.style.display = imgFileVisible ? "block" : "none";

        if (imgFileVisible) {
          uploadButton.style.top = "690px";
        } else {
          uploadButton.style.top = "635px";
        }
      }

      // 파일 input 요소에 이벤트 리스너 추가
      document
        .getElementById("files")
        .addEventListener("change", function (event) {
          // 파일들의 개수 가져오기
          const fileCount = event.target.files.length;

          // 첫 번째 파일의 이름 가져오기 (여러 파일을 선택할 수 있으므로 배열 형태로 반환)
          const firstFileName = event.target.files[0].name;

          // 파일 이름을 표시할 문자열 생성
          let displayText = firstFileName;
          if (fileCount > 1) {
            displayText = `${firstFileName} 외 ${fileCount - 1}개`;
          }
          // 파일 이름을 표시할 요소에 문자열 설정
          document.querySelector(".imgfile h2").textContent = displayText;

          // 파일이 선택되었으므로 .imgfile 요소 표시
          imgFile.style.display = "block";

          // 업로드 버튼의 위치를 조정
          uploadButton.style.top = "613px";
        });
    </script>
  </body>
</html>
